/* body styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* common styles */


/* animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/**********************
 header section starts 
 ***********************/
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 140px 110px;

    
}
.container{
    background: linear-gradient(-45deg,  #161616,#D61C4E);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;

    width: 90%;
    border-radius: 30px;
    padding: 100px 106px 0px 106px;
    display: flex;
    
}

.header-texts h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
    line-height: 80px;
    border-bottom: 0;
    
}
.header-texts p {
    color: white;
    font-size: 16px;
    margin: 50px 0 ;

}
.header-texts a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #D61C4E;
    padding: 16px 25px;
    border-radius: 6px;
}


.header-image{
    width: 581px;
    height: 613px;
}
a i{
    margin-left: 8px;
    font-weight: normal;
}

/*********************
 header section ends 
 *********************/



/********************
 main section starts 
 ********************/
 /* side navigation section */

.navigation-section{
    width: 80%;
    display: flex;
    justify-content: center;
    margin:auto;
}
.side-nav-bar{
    margin-right: 24px;
    background-color: #161616; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 30px 30px 0 30px;
    height: 312px;
    width: 312px;

}
.side-nav-bar a{
    display: block;
    height: 65px;
    width: 252px;
    border-radius: 10px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.side-nav-bar #blog-nav{
    margin-bottom: 0;
    background-color: #D61C4E;
    color: white;
}
.side-nav-bar a:hover{
    background-color: #D61C4E;
    color: white;
}

    
.side-nav-bar a:checked div{
    background-color: #D61C4E; 
}

/* blogs section */

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.blog{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog-banner{
    width: 100%;

}
.blog-info{
    margin-top: 20px;
}
.blog-info a{
    margin-left: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border: 1px solid black;
    padding: 4px 16px;
    border-radius: 10px;
    
}
.blog-info p{
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
}
.blog-duration{
    margin-left: 20px;
    color: rgba(22, 22, 22, 0.7);
    padding-bottom: 20px;
}
.blog-duration i{
    margin-right: 30px;
    font-size: 16px;
}
.blog-duration i>span{
    margin-left: 10px;
}
#view-all{
    display: none;
}


/*****************
main section ends 
*******************/


/******************** 
footer section starts
*********************/
footer{
    margin-top: 130px;
    background-color: #161616;
}
footer h2{
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: 600px;
    text-align: center;
    padding: 130px 0 50px 0;
}
footer hr{
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
footer ul{
    padding-top: 50px;
    padding-bottom: 90px;
    text-align: center;

}
footer li{
    list-style: none;
    display: inline;
}
footer li a{
    font-size: 16px;
    text-decoration: none;
    color: #B9B9B9;
    display: inline-block;
    padding-right: 30px;
    
}

.social-media{
    text-align: center;
    padding-bottom: 20px;
}
.social-media i{
    color: #B9B9B9;
    margin-right: 30px;
    
}



/******************** 
footer section ends
*********************/


/* responsive design starts */

/* for mobile */
@media screen and (max-width: 688px) {
    /* header section */
    header{
        width: 80%;
        margin: 0 auto;
    }

   .container{
    margin-top: 20px;
    flex-direction: column;
    width: 234px;
    height: 372px;
    text-align: center;
    padding: 43px 20px 110px 40px
   
   }
 .header-texts h1{
        font-size: 22px;
        font-weight: 700;
        color: white;
        line-height: 25px;
        border-bottom: 0;
        text-align: center;
        
    }
    .header-texts p {
        color: white;
        font-size: 14px;
        margin: 16px 0 ;
    
    }
    .header-texts a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        background-color: #D61C4E;
        padding: 8px 12px;
        border-radius: 6px;
        

    }
    .header-image{
        width: 100%;
        height: 350px;
        
    }
    .header-image img{
        width: 91.7%;
        height: 82%;
        margin-top: 19px;
        margin-left: 30px;
    }

    /* main section */

     /* side navigation section */

    .navigation-section{
        
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        
    }
    .side-nav-bar{
        
        margin: 0 auto;
        background-color: transparent; 
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        

}
    .side-nav-bar a{
        display: block;
        border-radius: 10px;
        background-color: #f1f1f1;
        text-align: center;
        line-height: 65px;
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 500;
        text-decoration: none;
        color: black;
}


/* blogs section */

.blogs{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 24px;
}
.blog{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}





/******************** 
footer section starts
*********************/
footer{
    width: 100%;
    
}
footer h2{
    font-size: 22px;
   
}
footer li{

    display: block;
    margin-bottom: 30px;
}
footer li a{
    display: inline;
}

   
}




/* for tablets */
@media screen and (min-width: 688px) and (max-width:992px) {
    /**********************
 header section starts 
 ***********************/
header{
    width: 80%;
    margin:  0 auto;
}
.container{
    margin-top: 50px;
    padding: 41px 50px;
    
}

.header-texts h1{
    font-size: 40px;
    line-height: 50px;  
}

.header-image{
    
    width: 100%;
    height: 350;
}
.header-image img{
    width: 100%;
    height: 82%;
    margin-top: 151px;
    margin-left: 47px;
}


/*********************
 header section ends 
 *********************/



/********************
 main section starts 
 ********************/
 /* side navigation section */

.navigation-section{
    width: 80%;
    flex-direction: column;
    margin:0 auto;
}
.side-nav-bar{
    background-color:transparent; 
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 29px 0px 0 0px;

}

/* blogs section */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
    row-gap: 24px;
}
#view-all{
    display: block;
    margin: 50px auto 20px;
}
#view-all a{
    text-decoration: none;
    color: white;
    padding: 12px 30px;
    background-color: #D61C4E;
    border-radius: 10px;
    
    
}


/*****************
main section ends 
*******************/



   
}





/* responsive design ends */