/* body styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* common styles */

.half-width{
    width: 50%;
}





/**********************
 header section starts 
 ***********************/
 header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 140px 110px;
}
.container{
    background-color: #161616;
    width: 80%;
    border-radius: 30px;
    padding: 100px 106px;
    display: flex;
    
}

.header-texts h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
    line-height: 80px;
    border-bottom: 0;
    
}
.header-texts p {
    color: white;
    font-size: 16px;
    margin: 50px 0 ;

}
.header-texts a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #D61C4E;
    padding: 16px 25px;
    border-radius: 6px;
}
.header-image{
    position: absolute;
    width: 581px;
    height: 613px;
    left: 740px;
    top: 126px;
   
   
}
a i{
    margin-left: 8px;
    font-weight: normal;
}

/*********************
 header section ends 
 *********************/


 /********************
 main section starts 
 ********************/
 /* side navigation section */
.navigation-section{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.side-nav-bar{
    margin-right: 24px;
    background-color: #161616; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0 30px;
    height: 312px;
    width: 312px;

}
.side-nav-bar a{
    display: block;
    height: 65px;
    width: 252px;
    border-radius: 10px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.side-nav-bar #upcoming-nav{
    
    background-color: #D61C4E;
    color: white;
}
.side-nav-bar a:hover{
    background-color: #D61C4E;
    color: white;
}

    
.side-nav-bar a:checked div{
    background-color: #D61C4E; 
}


/* match schadule section */
.match-schadule{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.match-time{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 50px 30px;
    text-align: center;
}
.flags{
    display: flex;
    align-items: center;
    justify-content: center
}
.flags span{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 20px;
}
.match-time p{
    font-weight: 600;
    font-size: 20px;
}
.match-time p small{
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}





/******************** 
footer section starts
*********************/
footer{
    margin-top: 130px;
    background-color: #161616;
}
footer h2{
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: 600px;
    text-align: center;
    padding: 130px 0 50px 0;
}
footer hr{
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
footer ul{
    padding-top: 50px;
    padding-bottom: 90px;
    text-align: center;

}
footer li{
    list-style: none;
    display: inline;
}
footer li a{
    font-size: 16px;
    text-decoration: none;
    color: #B9B9B9;
    display: inline-block;
    padding-right: 30px;
    
}

.social-media{
    text-align: center;
    padding-bottom: 20px;
}
.social-media i{
    color: #B9B9B9;
    margin-right: 30px;
    
}



/******************** 
footer section ends
*********************/